*{
  margin: 0;
  padding: 0;
  box-sizing:border-box;
}
body{
  width: 100%;
  overflow-x: hidden;
  background-image: url("yucca_bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  min-height: 100vh;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    background-color: #E2D9CD;
    transition: all 0.3s ease;
    height: 120px;
}

header:hover {
    background-color: #FFFFFF;
}

.logo img {
    height: 60px;
    width: auto;
}

nav {
    display: flex;
    align-items: flex-start;
    gap: 60px;
}

.nav-group {
    display: flex;
    flex-direction: row;
    gap: 20px;

}

.nav-link {
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: 400;
}

.sub-text {
    font-size: 22px;
    color: #333;
    margin-top: 5px;
}

header:hover .sub-text {
    color: #FFFFFF;
}

.icons {
    display: flex;
    gap: 15px;
    border-left: 1px solid rgba(0,0,0,0.1);
    padding-left: 20px;
}

.icon {
    font-size: 20px;
    color: #555;
    background: #8e8881;
    color: white;
    padding: 8px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

header:hover .icon {
    background: #777;
}

.text{
  position:absolute;
  top:17%;
  left:10%;
  font-size: 70px;
  color:black;
  font-weight: 300;
  font-family:Magnetik, sans-serif, sans-serif;
  font-size: 70px;
}

a{
  margin: 20px;
  color: black;
  text-decoration: none;
}

.card{
  width: 320px;
  height: 300px;
  background-color: rgba(255, 228, 196, 0.2);
  backdrop-filter: blur(20px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 20px;
}
#two{
  display: flex;
  flex-direction: row;
  margin-top: 400px;
  gap: 10px;
  margin-left: 130px;
  margin-top:280px;
}

.b{

overflow: hidden;
height: 50px;
}

.b h1{
transition: 1s ease;
}

.card:hover .b>h1{
  margin-top: -200px;
}

.c{
  position: absolute;
  background-color: #fffdf5;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  border-radius: 20px;
 display: flex;
 flex-direction: column;
 justify-content: space-between;

}

.card:hover .c{
  opacity: 1;
}
.f{
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}
.d{
  height: 25px;
  overflow: hidden;

}

.d p{
  position: relative;
  bottom: -25px;
  transition: 1s ease;
}
.card:hover .d p{
  bottom: 15px;
}
.h{
  width: 0px;
  border: 1px solid black;
  transition: 1s ease;
}

.card:hover .h{
  width: 100%;
}
.g{
  padding: 10px;
  display: flex; 
  flex-direction: column;
  gap: 20px;
}
.i{
  display: flex;
  justify-content: space-between;
}